<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
	<title>Kitchen Login</title>
	
</head>

<body>
	<div class="container">
        <div>
            <img src="pics/pizzaLogo.png" alt="logo" class="logo">
            <form class>
                <input type="text" id="UN" name="username" placeholder="username"><br><br>
                <input type="text" id="PS" name="password" placeholder="password"><br><br>
                <input type="submit" value="Login">
              </form>
        </div>
     </div>

</body>
</html>
