body{
    font-family: Helvetica;
    /* Set Background */
    background-image: url("../img/customer/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#navBg {
    background-color: #8b0000;
}
#navBg h2{
    color: #000;
    background-color: #ede2da;
    border-style: double;
    padding: 0px 12px;
}
#navBg a{
    text-align: center;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
/* Home */
#home img{
    width: auto;
    height: 200px;
    margin: 30px 5px
}
#home p{
    font-size: 50px;
    font-weight: bold;
}
#home .text-g1{
    text-align: left;
    padding-left: 30%;
}
span{
    font-family: Georgia;
    font-style: italic;
    font-size: 24px;
}
.table{
    width: 100px;
    height: 100px;
    background-color: #e8e6e6;
}

/* footer */
