<%- include('partials/header') %>
<div id="allMenu">
  <!--! Pizza/Main Dishes -->
  <div class="row flex-item box">
    <div class="col-md-6">
      <img
        src="img/customer/Main-dishes/Carbonara-NY-pizza.jpg"
        alt="Carbonara-NY-pizza"
        width="auto"
        height="180"
      />
      <h3>New York Carbonara</h3>
    </div>
    <div class="col-md-6 justify-content-end text">
      <p>Select edge style</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Edge</option>
        <option value="thick">Thick</option>
        <option value="thin">Thin</option>
      </select>
      <p>Select size</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size</option>
        <option value="large">Large</option>
        <option value="small">Small</option>
      </select>
      <div id="input-tab">
        <input
          type="text"
          class="form-control top"
          name="amount"
          placeholder="Amount"
        />
        <button class="btn btn-danger" type="submit" id="NYC">399 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <div class="row flex-item box">
    <div class="col-md-6">
      <img
        src="img/customer/Main-dishes/cheese&bacon-thick.jpg"
        alt="C&B-T"
        width="auto"
        height="180"
      />
      <h3>Cheese & Bacon</h3>
    </div>
    <div class="col-md-6 justify-content-end text">
      <p>Select edge style</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Edge</option>
        <option value="thick">Thick</option>
        <option value="thin">Thin</option>
      </select>
      <p>Select size</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size</option>
        <option value="large">Large</option>
        <option value="small">Small</option>
      </select>
      <div id="input-tab">
        <input
          type="text"
          class="form-control top"
          name="amount"
          placeholder="Amount"
        />
        <button class="btn btn-danger" type="submit" id="CB">299 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <div class="row flex-item box">
    <div class="col-md-6">
      <img
        src="img/customer/Main-dishes/chicken-pizza-thick.jpg"
        alt="CP"
        width="auto"
        height="180"
      />
      <h3>Chicken Pizza</h3>
    </div>
    <div class="col-md-6 justify-content-end text">
      <p>Select edge style</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Edge</option>
        <option value="thick">Thick</option>
        <option value="thin">Thin</option>
      </select>
      <p>Select size</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size</option>
        <option value="large">Large</option>
        <option value="small">Small</option>
      </select>
      <div id="input-tab">
        <input
          type="text"
          class="form-control top"
          name="amount"
          placeholder="Amount"
        />
        <button class="btn btn-danger" type="submit" id="CP">169 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <div class="row flex-item box">
    <div class="col-md-6">
      <img
        src="img/customer/Main-dishes/pork-pizza-thick.jpg"
        alt="PP"
        width="auto"
        height="180"
      />
      <h3>Pork Pizza</h3>
    </div>
    <div class="col-md-6 justify-content-end text">
      <p>Select edge style</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Edge</option>
        <option value="thick">Thick</option>
        <option value="thin">Thin</option>
      </select>
      <p>Select size</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size</option>
        <option value="large">Large</option>
        <option value="small">Small</option>
      </select>
      <div id="input-tab">
        <input
          type="text"
          class="form-control top"
          name="amount"
          placeholder="Amount"
        /> 
        <button class="btn btn-danger" type="submit" id="PP">169 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <!--! Appetizer -->
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Appetizer/french-fries.png"
          alt="french-fries"
          width="auto"
          height="180"
        />
        <h3>French Fries</h3>
        <button class="btn btn-danger" type="submit" id="french-fries">65 ฿</button> <!-- btn -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Appetizer/waffle-fries.png"
          alt="waffle"
          width="auto"
          height="180"
        />
        <h3>Waffle Fries</h3>
        <button class="btn btn-danger" type="submit" id="waffle-fries">79 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Appetizer/onion-rings.png"
          alt="Onion-rings"
          width="auto"
          height="180"
        />
        <h3>Onion rings</h3>
        <button class="btn btn-danger" type="submit" id="onion-rings">89 ฿</button> <!-- btn -->
      </div>
    </div>
    <div class="col-md-6">
        <div class="flex-item box">
          <img
            src="img/customer/Appetizer/breadstick.png"
            alt="breadstick"
            width="auto"
          height="180"
          />
          <h3>Breadstick</h3>
          <button class="btn btn-danger" type="submit" id="breadstick">79 ฿</button> <!-- btn -->
        </div>
      </div>
  </div>
  <!--! Drinks -->
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Drinks/maid.png"
          alt="minut-maid"
          width="auto"
          height="180"
        />
        <h3>Minute Maid</h3>
        <button class="btn btn-danger" type="submit" id="minute-maid">23 ฿</button> <!-- btn -->
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Drinks/coke.png"
          alt="coke"
          width="auto"
          height="180"
        />
        <h3>Coca Cola</h3>
        <button class="btn btn-danger" type="submit" id="coca-cola">20 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Drinks/sprite.png"
          alt="sprite"
          width="auto"
          height="180"
        />
        <h3>Sprite</h3>
        <button class="btn btn-danger" type="submit" id="sprite">20 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
