<%- include('partials/header') %>

    <div class="col-6">
        <img src="img/customer/Main-dishes/Carbonara-NY-pizza.jpg" alt="Carbonara-NY-pizza" width="250" height="auto">
        <div class="justify-content-end">
            <p>New York Carbonara</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
    </div>

<%- include('partials/footer') %> 