<%- include('partials/header') %>
<div id="allMenu">
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Appetizer/french-fries.png"
          alt="french-fries"
          width="auto"
          height="180"
        />
        <h3>French Fries</h3>
        <button class="btn btn-danger" type="submit">65 THB</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Appetizer/waffle-fries.png"
          alt="waffle"
          width="auto"
          height="180"
        />
        <h3>Waffle Fries</h3>
        <button class="btn btn-danger" type="submit">79 THB</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Appetizer/onion-rings.png"
          alt="Onion-rings"
          width="auto"
          height="180"
        />
        <h3>Onion rings</h3>
        <button class="btn btn-danger" type="submit">89 THB</button>
      </div>
    </div>
    <div class="col-md-6">
        <div class="flex-item box">
          <img
            src="img/customer/Appetizer/breadstick.png"
            alt="breadstick"
            width="auto"
          height="180"
          />
          <h3>Breadstick</h3>
          <button class="btn btn-danger" type="submit">79 THB</button>
        </div>
      </div>
  </div>
</div>
<%- include('partials/footer') %>
