<%- include('partials/header') %>
<div id="allMenu">
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Drinks/maid.png"
          alt="minut-maid"
          width="auto"
          height="180"
        />
        <h3>Minute Maid</h3>
        <button class="btn btn-danger" type="submit" id="minute-maid">23 ฿</button> <!-- btn -->
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Drinks/coke.png"
          alt="coke"
          width="auto"
          height="180"
        />
        <h3>Coca Cola</h3>
        <button class="btn btn-danger" type="submit" id="coca-cola">20 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-item box">
        <img
          src="img/customer/Drinks/sprite.png"
          alt="sprite"
          width="auto"
          height="180"
        />
        <h3>Sprite</h3>
        <button class="btn btn-danger" type="submit" id="sprite">20 ฿</button> <!-- btn -->
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
