<%- include('partials/header') %>
    <img src="/public/image/customer/pizza-home.jpg" alt="pizza-home" width="250" height="250">
    <span>Welcome to...</span>
    <p>PIZZA CAMT</p>
    <p><%= text %></p>
<%- include('partials/footer') %> 