<%- include('partials/header') %>
    <div id="home">
        <img src="/public/image/customer/pizza-home.jpg" alt="pizza-home">
        <div class="text-g1">
            <br><span>Welcome to...</span>
            <p>PIZZA CAMT</p>
        </div>
        <p><%= text %></p>
        
        <div>
            <button class="btn btn-outline-warning table">No.1</button>
            <button class="btn btn-outline-warning table">No.2</button>
            <button class="btn btn-outline-warning table">No.3</button>
            <button class="btn btn-outline-warning table">No.4</button>
        </div>

    </div>
    
<%- include('partials/footer') %> 