<%- include('partials/header') %>

    <div id="home">
        <img src="img/customer/pizza-home.jpg" alt="pizza-home">
        <div class="text-g1">
            <br><span>Welcome to...</span>
            <p>PIZZA CAMT</p>
        </div>
        <p><%= text %></p>
        <div>
            <button class="btn btn-outline-warning table" value="1">No.1</button>
            <button class="btn btn-outline-warning table" value="2">No.2</button>
            <button class="btn btn-outline-warning table" value="3">No.3</button>
            <button class="btn btn-outline-warning table" value="4">No.4</button>
        </div>

    </div>
    
<%- include('partials/footer') %> 