<%- include('partials/header') %>

<div>
  <img src="image/kitchen/pizzaLogo.png" alt="logo" class="logo" />
  <form class>
    <input
      type="text"
      id="UN"
      name="username"
      placeholder="username"
    /><br /><br />
    <input
      type="text"
      id="PS"
      name="password"
      placeholder="password"
    /><br /><br />
    <input type="submit" value="Login" />
  </form>
</div>

<%- include('partials/footer') %>