<%- include('partials/header') %>
    <table class="table table-striped">
        <tr>
            <td>Table No.</td>
            <td>Order Name</td>
            <td>Amount</td>
            <td>Status</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
<%- include('partials/footer') %>