<%- include('partials/header') %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Order</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>pizza</th>
                <th>1</th>
                <th>299THB</th>
                <th>queue</th>
            </tr>
            <tr>
                <th>1</th>
                <th>pizza</th>
                <th>1</th>
                <th>299THB</th>
                <th>queue</th>
            </tr>
            <tr>
                <th>1</th>
                <th>pizza</th>
                <th>1</th>
                <th>299THB</th>
                <th>queue</th>
            </tr>
        </tbody>
    </table>
<%- include('partials/footer') %>